pandas
numpy
matplotlib
networkx
python-igraph
statsmodels
plotly
requests
git+https://github.com/openai/CLIP.git
torch
torchvision
scikit-learn
ImageHash
community
umap-learn
opencv-python
opencv-contrib-python
nbformat
cairocffi
pycairo
hdbscan
rich
scikit-optimize
timm
dinotool
pywin32
easyocr
sentence-transformers
huggingface_hub
